.page-not-found {
  display: grid;
  place-content: center;
  height: 100dvh;
}
.not-found-page {
  text-align: center;
  margin-top: 2rem;
  font-size: 28px;
  color: var(--main-font-color);
}
.not-found-page span {
  color: var(--seconadry-color);
}

.back-home {
  color: #fff;
  background-color: var(--seconadry-color);
  font-size: 16px;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  width: fit-content;
  display: block;
  margin: 2rem auto 0;
}
