.form-row {
  width: 48%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.form-row label {
  color: var(--main-font-color);
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  display: block;
  /* margin-bottom: 0.5rem; */
  align-self: flex-start;
}
.form-row input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #e7e8e9;
  display: block;
  width: 100%;
  outline: none;
  color: var(--main-font-color);
  font-size: 16px;
  background-color: #fff;
  height: 55px;
}
.form-row input::placeholder {
  color: #c2c2c2;
  font-size: 14px;
}
.password-container {
  display: flex;
  align-items: center;
  border: 1px solid #e7e8e9;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}
.password-container .btn-show-pass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
input.input-password {
  border: none;
}
.btn-show-pass {
  cursor: pointer;
  height: 24px;
}
.btn-show-pass .eye-icon {
  width: 24px;
  height: auto;
}
